<div class="container">
  <div class="row">
    <h1>お宿備忘録</h1>
  </div>
  <div class="row">
    <p>
      「また泊まりたい」「泊まってみたい」<br>
      気になったあのホテルや、また泊まりたいあの旅館<br>
      忘れたくないお宿を記録に残しておきませんか
    </p>
  </div>
</div>